


/* display */
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}




.block{
    display: block;
}
.inline-flex{
    display: inline-flex;
}

.border-box{
    box-sizing: border-box;
}

